<!-- <app-header applicationConfig="{{applicationConfig}}"></app-header> -->
<!-- <app-header [config]="applicationConfig"></app-header> -->
<app-header [applicationConfig]="applicationConfig" (menuClick)="onMenuClick($event)"></app-header>
<!-- (menuClick)="onMenuClick($event)"

        |
        V
    
    HeaderComponent.menuClick.subscribe($event => {
        onMenuClick($event)
    })-->
<!-- <app-sidenav
    [isSidenavOpened]="isSidenavOpenedFromApp"
    (isSidenavOpenedChange)="isSidenavOpenedFromApp = $event"
></app-sidenav> -->
<!-- <app-sidenav [(isSidenavOpened)]="isSidenavOpenedFromApp"></app-sidenav> -->
<app-products-list></app-products-list>
