.modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    z-index: 98;
}

.modal-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}
.modal {
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #fff;
    width: 600px;
    height: 500px;
    opacity: 1;
}

.not-visible {
    display: none;
}
