<!-- <ng-template let-productsFromNgIf="ngIf" [ngIf]="products" [ngIfElse]="loaderTemplate"> -->
<div *ngIf="products as products; else loaderTemplate" class="scroll-container">
    <!-- <div
        *ngIf="products; else: loaderTemplate; ngIf as productsFromNgIf"
        class="scroll-container"
    > -->
    <!-- <div
        *ngIf="products; else: loaderTemplate; let productsFromNgIf = ngIf"
        class="scroll-container"
    > -->

    <!-- Раскомментрировать для ДЗ -->
    <ng-container
        *appPagination="
            let productsGroup of products;
            chunkSize: 4;
            let pageIndexes = pageIndexes;
            let activeIndex = activeIndex;
            let next = next;
            let back = back;
            let selectIndex = selectIndex
        "
    >
        <div class="cards">
            <app-card
                *ngFor="let product of productsGroup; trackBy: trackById"
                class="card"
                [product]="product"
                (buy)="onProductBuy($event)"
            ></app-card>
        </div>
        <div class="pagination">
            <i class="fa-solid fa-arrow-left fa-xl" (click)="back()"></i>
            <i
                *ngFor="let i of pageIndexes"
                class="fa-regular fa-circle"
                [class.fa-solid]="activeIndex === i"
                (click)="selectIndex(i)"
            ></i>
            <i class="fa-solid fa-arrow-right fa-xl" (click)="next()"></i>
        </div>
    </ng-container>

    <!-- <app-card
            class="card"
            [product]="productsFromNgIf[0]"
            (buy)="onProductBuy($event)"
        ></app-card>
        <app-card
            class="card"
            [product]="productsFromNgIf[1]"
            (buy)="onProductBuy($event)"
        ></app-card>
        <app-card
            class="card"
            [product]="productsFromNgIf[2]"
            (buy)="onProductBuy($event)"
        ></app-card>
        <app-card
            class="card"
            [product]="productsFromNgIf[3]"
            (buy)="onProductBuy($event)"
        ></app-card>
        <app-card
            class="card"
            [product]="productsFromNgIf[4]"
            (buy)="onProductBuy($event)"
        ></app-card> -->
</div>
<!-- </ng-template> -->

<ng-template #loaderTemplate>
    <mat-spinner></mat-spinner>
</ng-template>
